<!DOCTYPE html>
html
	head
		link(href="/blackjack.css",type="text/css",rel="stylesheet")
		script(src="/card.js")
		script(src="/blackjack.js")
		script(src="http://code.jquery.com/jquery-latest.min.js")
		script(src='/socket.io/socket.io.js')
		script(type="text/javascript")
			var socket = io.connect();
			
			socket.on('connectedToTable', function(table) {
				drawTable(table);
			});
			
			socket.on('dealerchange', function(hand) {
				drawHand(hand, $(".dealer .hand"));
			});
			socket.on('playerchange', function(player) {
				drawHand(player.hand, $("#player"+player.id));
			});
			
			function twist(){
				socket.emit('twist');
			}
			
			function stick(){
				socket.emit('stick');
			}
			
			function deal(){
				socket.emit('deal');
			}
	body
		div(class="dealer")
			div(class="title") Dealers Hand
			div(class="hand")
		div(class="hands")
		div(class="controls")
			a(onclick="twist(); return false;", href="") Twist
			a(onclick="stick(); return false;", href="") Stick
			a(onclick="deal(); return false;", href="") Deal in