div(class="hand",style="float:left; padding:10px 30px 0 0")
	if PlayerId==Player.Id
		span Your Hand
	else
		span Players Hand
		
	each card in Player.cards
		!=partial('card', {id: card.toString()+Math.floor(Math.random()*1000), card : card})

	div(style="clear:both")

	span Player's score is: 
	ul
	each score in Player.scores()
		li= score
	if Player.isBust()
		br
		span Player is bust!
		br
	else
		if PlayerId==Player.Id
			div
				a(href='/'+Id+'/'+ playerId + '/twist') Twist
			div
				a(href='/'+Id+'/'+ playerId + '/stick') Stick