<!DOCTYPE html>
html
	head
		script(src="/card.js")
	body
		
		each card in you.cards
			!=partial('card', {id: card.toString()+Math.floor(Math.random()*1000), card : card})
			
		div(style="clear:both")
		span Your score is: 
		ul
			each score in you.scores()
				li= score
		if you.isBust()
			br
			span You are bust!
			br
			form(method='get', action='/')
				input(value=table, type='hidden', name='table')
				input(value='new', type='submit') New game
		else
			form(method='get', action='/twist')
				input(value=table, type='hidden', name='table')
				input(value='twist', type='submit') Twist
			
			form(method='get', action='/stick')
				input(value=table, type='hidden', name='table')
				input(value='stick', type='submit') Stick