html
	head
		script(src="/card.js")
	body
		span Dealer's hand
		div(style="clear:both")
		each card in table.dealer.cards
			!=partial('card', {id: card.toString()+Math.floor(Math.random()*1000), card : card})
		
		div(style="clear:both")
		span The Dealer's score is: 
		span= table.dealer.score()
		div(style="clear:both")
		
		each player in table.players
			div(style="clear:both")
			span Player's hand
			div(style="clear:both")
			
			each card in player.cards
				!=partial('card', {id: card.toString()+Math.floor(Math.random()*1000), card : card})
			
			div(style="clear:both")
			span Player's score is: 
			span= player.score()
			div(style="clear:both")
		
		
		
			if player.isBust()
				span Player is bust!
			else if table.dealer.isBust()
				span The dealer is bust, player wins!
			else if player.score() > table.dealer.score()
				span Player wins!
			else
				span Player loses!
		
		div(style="clear:both")
		form(method='get', action='/')
			input(value=table.Id, type='hidden', name='table')
			input(value=playerId, type='hidden', name='player')
			input(value='new', type='submit') New game