html
	head
		script(src="/card.js")
	body
		span Dealer's hand
		div(style="clear:both")
		each card in dealer.cards
			!=partial('card', {id: card.toString()+Math.floor(Math.random()*1000), card : card})
		
		div(style="clear:both")
		span The Dealer's score is: 
		span= dealer.score()
		div(style="clear:both")
		
		span Your hand
		div(style="clear:both")
		each card in you.cards
			!=partial('card', {id: card.toString()+Math.floor(Math.random()*1000), card : card})
				
		div(style="clear:both")
		span Your score is: 
		span= you.score()
		div(style="clear:both")
		
		
		
		if you.isBust()
			span You are bust!
		else if dealer.isBust()
			span The dealer is bust, you win!
		else if you.score() > dealer.score()
			span You win!
		else
			span You lose!
		
		div(style="clear:both")
		form(method='get', action='/')
			input(value='new', type='submit') New game